body{

    background-image:url(yash-menghani-ejLp_lrQvyI-unsplash.jpg );
    background-position:left;
    background-size:cover;


    width: 100vw;
    height:100vh;
    margin: 0px;
    padding: 0px;

}


@keyframes login {
    0% {
        background-position: 0 50%;
    }
    50% { 
        background-position: 100% 50%;
        
    }
    100% {
        background-position: 0 50%;}
  }



.wrapper{
    width: 60vw;
    height: 75vh;
    background-color:rgba(255,255,255,0.2);
    margin-left: auto;
    margin-right: auto;
    transform: translateY(20%);
    border: solid white 1px;
    box-shadow: black 10px 10px 10px;
    box-sizing: border-box;
    background-image:linear-gradient( 120deg,rgba(255,255,255,0.5),rgba(28,38,65,0.5), rgba(86,125,156,0.7),rgba(9,39,58,0.7), rgba(0,0,0,0.5));
    background-size: 300% 300%;
    animation: login 7s ease-in-out infinite;

}

.sign-in{
    width: 100%;
    height: auto;
    display: flex;
    animation: fade 1s ease-in-out;
}

@keyframes fade{
    0% {opacity: 0;}

    100% {opacity: 1;}
}

.half1{
    width:50%;
    height: 75vh;
    background-color: rgba(0,0,0,0.2);
    
   
}
.half1 h1{
    font-size:70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 30px;
    padding-top: 100px;
    margin-top: 0;
    color: white;
    padding-bottom: 20px;
    
}

.half1 p{
    font-size:14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -50px;
    color: white;
    text-align: justify;
    
}

.half1 i{
    width: 50px;
    height: 20px;
    margin-left: 30px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    
}

.half2{
    width:50%;
    height: 75vh;
    background-color: rgba(255,255,255,0.4);
    box-sizing: border-box;

}

.half2{
    padding-left: 30px;
}

.half2 h1{
    font-size:80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0;

}


.form a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    margin-left: 65%;
    color: white;

}

.form p{
    font-family: Georgia, 'Times New Roman', Times, serif;


}

.half2 a:hover{
    color:blue;
    transition: 1s;
}

input {
    width: 90%;
    height: 40px;
    margin-bottom: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: white 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}

input::placeholder{
color: white;
}




#submit{
    width: 50%;
    margin-left: 75px;
    margin-top: 30px;
    border-radius: 30px 30px 30px;
    border: none;
    color: white;
    background-color: black;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}


#submit:hover{
    width: 52%;
    background-color: rgba(0,0,0,0.5);
    transition: 0.5s;

}

input:focus::placeholder {
transform: translateY(-200%);
transition: transform 0.3s ease-out;

}


.half2 h2{
    margin-bottom: 5px;
    text-align: center;
}

.link{
    margin-left: 45%;
    color: white;
    cursor: pointer;
}

.link a:hover{
    color:blue;
    transition: 1s;
}


.sign-up{
    width: 100%;
    height: auto;
    display: none;
    animation: fade 1s ease-in-out;
}

.halfa{
    width:50%;
    height: 75vh;
    background-color: rgba(255,255,255,0.2);
    box-sizing: border-box;
    padding-left: 30px;

}

.halfa h1{
    font-size:80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0;
    margin-top: 2%;

}

.halfa h2{

    margin-top: -2%;
    text-align: center;
    margin-left: -14%;
    margin-bottom: 1%;
    

}

.halfa a{
    
    margin-left: 36%;
    
}

.halfa a:hover{
    color:blue;
    transition: 1s;
}

.forma p{
    margin-bottom: 10px;

}
.halfb{

    width:50%;
    height: 75vh;
    background-color: rgba(0,0,0,0.6);

}
.halfb h1{
    font-size:75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 30px;
    padding-top: 100px;
    padding-bottom: 20px;
    margin-top: 0;
    color: white;
    
}

.halfb p{
    font-size:14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -50px;
    color: white;
    text-align: justify;
    
}

.halfb i{
    width: 50px;
    height: 20px;
    margin-left: 30px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    
}

#sub{
    width: 50%;
    margin-left: 75px;
    margin-top: 20px;
    border-radius: 30px 30px 30px;
    border: none;
    color: white;
    background-color: black;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}


#sub:hover{
    width: 52%;
    background-color: rgba(0,0,0,0.5);
    transition: 0.5s;

}

.transition-container {
transition: all 10s ease;

}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
 

    .wrapper{
        width: 90vw;
    }

    .half1 h1{
        font-size:80px;
        padding-left: 15px;
        padding-bottom: 10px;   
    }

    .half1 p{
        font-size:14px;
        padding-left: 15px;
        
    }

    .half1 i{
        width: 40px;
        
        
    }

    .half2 h1{
        font-size:80px;
        padding-top: 20px;

    }


    .form a{
        margin-left: 32%;

    }
    #submit{
        width: 40%;
        margin-left: 110px;
    }

    .half2 h2{
        font-size: 30px;
        margin-top: 5px;
    }

    .link{
        margin-left:38%;
        font-size: 20px;
    }


    .halfa h1{
        font-size:80px;
        padding-top: 20px;

    }

    .halfb p{
        font-size:14px;
        padding-left: 15px;

    }

    .halfb i{
        width: 40px;

    }
    .halfb h1{
        font-size:80px;
        padding-left: 15px;
        padding-bottom: 10px; 

    }   
}


@media only screen and (max-width: 900px) {

    .wrapper{
        width: 100vw;
    }

    .half1 h1{
        font-size:48px;
        padding-left: 15px;
        padding-bottom: 30px;   
        
    }
    .half1 p{
        font-size:13px;
        padding-left: 15px;
        
    }

    .half1 i{
        width: 20px;
        height: 20px;
        
    }

    .half2 h1{
        font-size:48px;
        padding-top: 20px;

    }


    .form a{
        margin-left: 20%;

    }
    #submit{
        width: 40%;
        margin-left: 55px;
    }

    .half2 h2{
        font-size: 20px;
        margin-top: 5px;
    }

    .link{
        margin-left:30%;
    }


    .halfa h1{
        font-size:48px;
        padding-top: 20px;

    }

    .halfb p{
    font-size:13px;
    padding-left: 15px;;

    }

    .halfb i{
    width: 20px;
    height: 20px;;

    }
    .halfb h1{
    font-size:48px;
        padding-left: 15px;
        padding-bottom: 30px;

    }   
}




